<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.community.model_review.mapper.ReviewMapper">

    <!-- 페이징 처리는 추후에~ -->
	 <select id="selectReviewList" resultType="review">

      select * 
      from 
         (
              select
                 rownum as rnum, a.*
                 from review a
                 )
             where
             rnum between ${startRow} and ${endRow} 
    </select>  
        
    <insert id="insertReview">
    insert into review(review_no,user_id,review_title,review_content) 
    values(sc_rv_idx.nextval,#{userId},#{reviewTitle},#{reviewContent})
    </insert>
    
    <!-- 게시글 상세보기 조회 -->
    <select id="viewId" resultType="review" parameterType="int">
    select *from review where review_no = #{view}
    </select>
</mapper>