<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.community.model_review.mapper.ReviewMapper">

    <!-- 페이징 처리는 추후에~ -->
	 <select id="selectReviewList" resultType="review">

      select * 
      from 
         (
              select
                 rownum as rnum, a.*
                 from review a
                 )
             where
             rnum between ${startRow} and ${endRow}  order by review_no desc
    </select>  
        
    <insert id="insertReview">
    insert into review(review_no,user_id,review_title,review_content) 
    values(sc_rv_idx.nextval,#{userId},#{reviewTitle},#{reviewContent})
    </insert>

    
    <!-- 게시글 상세보기 조회 -->
    <select id="viewId" resultType="review" parameterType="int">
    select *from review where review_no = #{view}
    </select>
    
    <!-- 게시글 삭제 -->
    <delete id="deleteReview" parameterType="int">
          delete from review where review_no = #{view}
    </delete>
    
    <!-- 게시글 수정 -->
    <update id="updateReview">
         update review set user_id=#{userId}, review_title=#{reviewTitle}, review_content=#{reviewContent} where review_no = ${reviewNo} 
    </update>
    
    <!-- 게시판 조회수  -->
    <update id="viewCount">
          update review set view_cnt= view_cnt+1 where review_no = ${view}
    </update> 
</mapper>