<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <!-- 알 수 없는 컬럼 값을 만났을때 warning 경고 로그 출력 -->
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bemyfriend.bmf.community.model_review.vo.Review" alias="review"/>
		<typeAlias type="com.bemyfriend.bmf.member.user.model.vo.User" alias="user"/>
		<typeAlias type="com.bemyfriend.bmf.member.company.model.vo.Company" alias="company"/>
		<typeAlias type="com.bemyfriend.bmf.calendar.model.vo.Calendar" alias="calendar"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/review/ReviewMapper.xml"/>
		<mapper resource="mybatis/mapper/member/UserMapper.xml"/>
		<mapper resource="mybatis/mapper/calendar/calendarMapper.xml"/>
	</mappers>
	
</configuration>

