<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <!-- 알 수 없는 컬럼 값을 만났을때 warning 경고 로그 출력 -->
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bemyfriend.bmf.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.bemyfriend.bmf.member.user.model.vo.User" alias="user"/>
	</typeAliases>

	
	<mappers>
		<mapper resource="mybatis/mapper/board/BoardMapper.xml"/>
		<mapper resource="mybatis/mapper/member/UserMapper.xml"/>
	</mappers>
	
</configuration>

