<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.search.model.repository.SearchRepository">

	
	
	
	<select id="searchKeyword" resultType="companyHire">
		SELECT * FROM COM_HIRE  
		<choose>
			<when test="searchType == 'searchTotal'">
				WHERE JOB_TITLE LIKE '%'||#{keyword}||'%' or COM_NAME LIKE '%'||#{keyword}||'%' or JOB_LOCATION LIKE '%'||#{keyword}||'%'
			</when>
			<when test="searchType == 'searchDuty'">
				WHERE JOB_DUTY LIKE '%'||#{keyword}||'%'
			</when>
			<when test="searchType == 'searchPlace'">
				WHERE JOB_LOCATION LIKE '%'||#{keyword}||'%'
			</when>
			<when test="searchType == 'searchCom'">
				A JOIN COM_USER C ON A.COM_ID = C.COM_ID WHERE C.COM_TYPE LIKE '%'||#{keyword}||'%'
			</when>
			<when test="searchType == 'searchExp'">
				WHERE JOB_CAREER LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
	</select>
	
	

 </mapper>