<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.member.user.model.repository.ResumeRepository">




	<insert id="uploadResume"> <!-- DML은 reslutType 필요없음 -->
	INSERT INTO USER_RESUME
	(RES_IDX,RES_TITLE, USER_ID, CVL_TITLE_FIR, CVL_TITLE_SEC, CVL_TITLE_THR, CVL_CONTENT_FIR, CVL_CONTENT_SEC, CVL_CONTENT_THR)
	values(sc_res_idx.nextval ,#{resTitle}, #{userId}, #{cvlTitleFir},#{cvlTitleSec}, #{cvlTitleThr}, #{cvlContentFir}, #{cvlContentSec}, #{cvlContentThr})
	</insert>


















 </mapper>