<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.member.user.model.repository.UserRepository">
 
 
 	<!-- 회원정보 수정하기 -->
 	<update id="updateUserInfo"><!--update문 resultType 필요X -->
 		UPDATE USERS
 			<set>
 				<if test="userPw != null">
 					user_pw = #{userPw}
 				</if>
 				<if test="userName != null">
 					,user_name = #{userName}
 				</if>
 				<if test="userAdd != null">
 					,user_add = #{userAdd}
 				</if>	
 				<if test="userTell != null">
 					,user_tell = #{userTell}
 				</if>
 				<if test="userMail != null">
 					,user_mail = #{userMail}
 				</if>
 				<if test="userBirth != null">
 					,user_birth = #{userBirth}
 				</if>
 			</set>
 		WHERE USER_ID = #{userId}
 	</update>
 	
 	
 	<!-- 회원 서비스 등록하기 / 수정하기 프로시저 ! -->
 	<update id="uploadUserService" statementType="CALLABLE">
		{call pr_user_service(#{userId, mode=IN}, #{supLift, mode=IN}, #{supElv, mode=IN}, #{supBath, mode=IN}, #{supVoice,mode=IN}
								, #{supBlock, mode=IN}, #{supSign, mode=IN}, #{supPark, mode=IN}, #{supCharge, mode=IN}, #{supWelfare, mode=IN})
		}
	</update>
 	

 	
 	<!-- 회원 사진파일 새로 업로드-->
 	<insert id ="uploadFile">
 		INSERT INTO B_FILE(FILE_NO, TYPE_IDX, ORIGIN_FILE_NAME, RENAME_FILE_NAME, SAVE_PATH)
 			VALUES (SC_FILE_IDX.NEXTVAL, #{typeIdx}, #{originFileName}, #{renameFileName}, #{savePath})
 	</insert>
 	
 	
 	<!-- 회원 사진파일 업데이트 -->
 	<update id = "updateFile">
 		UPDATE B_FILE SET ORIGIN_FILE_NAME = #{originFileName}, RENAME_FILE_NAME = #{renameFileName}
 		, SAVE_PATH = #{savePath} WHERE TYPE_IDX = #{typeIdx}
 	</update>
 	
 	
 	
 	<!--  회원사진 정보 가져오기 -->
 	<select id = "selectUserFile" resultType = "file">
 		SELECT * FROM B_FILE WHERE TYPE_IDX = #{FindUserIdx}
 	</select>
</mapper>

