<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bemyfriend.bmf.program.model.repository.ProgramRepository">
	<select id="selectCalendarProgram" resultType="program">
		select program_start_date, program_end_date, program_com_name from program
	</select>
</mapper>